nav ul {
    display: flex;
    flex: 1;
    justify-content: space-around;
    list-style-type: none;
    border: 2px solid #ff9000;
    padding-top: 10px;
    padding-left: 0px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #ff9000;
}

nav li {
    padding: 10px;
    font-family: 'lato', sans-serif;
    font-weight: bold;
}

a {
    color: #0f0f0f;
    text-decoration: none;
}

nav a:hover {
    color: #8C001A;
}

.full {
    background-image:url('images/graffiti.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.city {
    padding: 10px;
    font-family: 'lato', sans-serif;
    color: #ff9000;
    font-weight: bold;
    outline-color: #0f0f0f; 
    margin-top: 70%;
}

.city a {
    text-decoration: none;
    color: #ff9000;
}

.city h1 {
    text-align: left;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.about {
    width: 20%;
    height: auto;
    text-align: left;
    flex: 1;
    margin-left: 5%;
    margin-right: 3%;
    padding:  3px;
    margin-top: 50%;
    margin-bottom: 3%;
    
    } 

.about {background-color: #8C001A;
    zoom: 1;
	filter: alpha(opacity=50);
    opacity: 0.5;
}

.about:hover {
    opacity: 1.0;
  filter: alpha(opacity=100);
}

.about p {
    color: #ff9000;
  font-weight: bolder;
    width: auto;
   height: auto;
    font-size: 40;
    padding-left: 30px;
    padding-top: 0px;
     text-shadow:
       1px 1px #000;  
}

.parenttop, .parentbottom {
    display: flex;
    flex: 1;
    justify-content: space-around;
    padding: 10px;
}

.parentbottom {
    margin-bottom: 3%;
}

.content {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.box1, .box2, .box3, .box4 {
    border: 1px solid #ff9000;
/*    padding-top: 25%;*/
    flex: 1; 
    margin-right: 1%;
    margin-left: 1%; 
}

/*
.box1 {
    background-image: url('images/centralpark.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 2%;
}
.box2 {
    background-image: url('images/yankeebx.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.box3 {
    background-image: url('#');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 2%;
}

.box4 {
    background-image: url('images/bkbridge.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

*/

/*style for about*/

.text {
    border: 1px solid #ff9000;
    padding: 150px;
    width: 300px;
    margin: auto;
    line-height: 2;
    color: #ffffff;
    font-size: 18px;
}

.text h1 {
    text-align: center;
    line-height: normal;
}

.all { 
  background: url('images/empireny.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}

.icon {
    margin-top: 1%;
}
/*style for bx*/

h1 {
    font-family: 'montserrat', sans-serif;
    text-align: center;
    padding-top: 10px;
    margin-top: 5%;
    
}

#link:hover {
    color: #ff9000;
}

.parentbx {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-top: 4%;
}
.bx1, .bx2 {
    border: 1px solid #ff9000;
    flex: 1;
    margin-bottom: 3%;
    
}

.bx1, .bx2 {
    margin-right: 1%;
/*    background-color: #660000;*/
    margin-left: 1%;
}

.info {
/*    border: 1px solid #8C001A;*/
    width: 50%;
    text-align: right;
    flex:1;
    padding-left: 50px;
}

.info2 {
/*    border: 1px solid #8C001A;*/
    width: 50%;
    text-align: center;
    padding: 10px;
    flex:1;
    padding-right: 50px;
}

.infopic1 {
  width: 75%;
  
}

.infopic1, .infopic2 {
    flex:2;
}

.infopic1 img {
    width: 75%;
    margin-left: 25%;
}

 .infopic2 img {
    width: 75%;
}

.parentinfo {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-top: 15%;
}

.parentinfo2 {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-top: 15%;   
}

.bx1 p, .bx2 p {
    text-align: justify;
    line-height: 2;
    font-family: 'lato', sans-serif;
}

.addy p {
    margin: 0%;
    line-height: normal;
    text-align: center;
}

.icon {
    max-width:3%;
    height:auto;
    padding-left: 95%;
}